.app.dark {
  --bg-color: #111194;
  --inverted-bg-color: #b9e0ff;

  --primary-color: #02540c;
  --secondary-color: #21d235;
  --inverted-primary-color: #028198;
  --inverted-secondary-color: #47c8f5;
  --theme-switcher-color: #020279;
}