.app.light {
    --bg-color: #b9e0ff;
    --inverted-bg-color: #111194;
    --primary-color: #016003;
    --secondary-color: #47c8f5;
    --inverted-primary-color: #21d235;
    --inverted-secondary-color: #1ba61d;
    --theme-switcher-color: #f8d807;
}
