.app.light {
  --bg-color: #b9e0ff;
  --inverted-bg-color: #111194;

  --primary-color: #028198;
  --secondary-color: #47c8f5;
  --inverted-primary-color: #1ba61d;
  --inverted-secondary-color: #21d235;

  --theme-switcher-color: #f8d807;
}